<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()"> Open Form</button>
        <h1>{{`Nilai a:` + total}}</h1>
        <h1>{{`Rata rata:`+ ratarata}}</h1>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm =new Vue ({
            el:'#app',
            data:{
            total: 0,
            ratarata: 0
            },
            methods : {
                openForm :function(){
                    for (let i = 1; i <= 3; i++) {
                        var inputNilai = Number(prompt("masukan nilai a"))
                        this.total = total + inputNilai
                        this.ratarata=this.total/i
                    }
                }
            },
        })
    </script>
</body>
</html>