body{
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}
.clearfix{
clear:both
} 
.main{
    height: 700px;
    width: 700px;
    background-color: white;
    box-shadow: 5px 7px 15px 5px #b9b6b6;
    margin: 20px auto;
    text-align: center; 
}
.top-section{
    background-color: #151b29;
    text-align: center;
    padding: 20px;
    color:aliceblue 
}
.box{
    width: 26%;
    height: 150px;
    background: #f4f4f4;
    text-align: center;
    padding: 20px;
    float: left;
    margin: 25px 0px 0px 8px;

}
.box-2 {
    width: 26%;
    height: 150px;
    background: rgb(18, 18, 80);
    text-align: center;
    padding: 20px;
    float: left;
    margin: 25px 0px 0px 8px;
    color: antiquewhite;
}
.profile{
    width: 200px;
    border-radius: 100%;
}