<!-- QUIZ 2 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="newUsers" />
        <button v-if="isEdit" v-on:click="editUser">Update</button>
        <button v-else v-on:click="addUser">Add</button>
        <div>
            <ul>
                <li v-for="user in listUsers" :key="user.name">
                    {{user.name}}
                    <button v-on:click="editlistUser(user.name)">Edit</button>
                    ||
                    <button v-on:click="deleteUser(user.name)">Delete</button>
                </li>
            </ul>
        </div>

    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                newUsers: '',
                isEdit: false,
                forEditIndex: 0,
                listUsers: [
                    { name: 'Muhammad Iqbal Mubarok', },
                    { name: 'Ruby Purwanti', },
                    { name: 'Faqih Muhammad', },
                ],
            },
            methods: {
                addUser: function () {
                    this.listUsers.push({ name: this.newUsers });
                    this.newUsers = '';
                },
                editlistUser: function (name) {
                    this.isEdit = true;
                    const index = this.listUsers.findIndex((Object) => {
                        return Object.name === name;
                    });
                    this.forEditIndex = index;
                    this.newUsers = name;
                },
                editUser: function () {
                    this.listUsers[this.forEditIndex].name = this.newUsers;
                    this.isEdit = false;
                    this.newUsers = "";
                },
                deleteUser: function (name) {
                    let peringatan = confirm('anda yakin?');
                    if (peringatan) {
                        this.listUsers = this.listUsers.filter(
                            (usr) => usr.name !== name
                        );
                    }
                }
            }
        });

    </script>
</body>
</html>