<!-- 
'Kalkulus Dasar'
'Fisika Dasar'
'Aljabar Linier Elementer'
'Aljabar Abstrak'
'Algoritma Pemrograman' -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="title" placeholder="ketikan kata kunci" />
        <ul>
            <li v-for="item in filteredItems" :key="item">
                {{ item }}
            </li>
        </ul>
    </div>


    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                title: '',
                items: ['Kalkulus Dasar', 'Fisika Dasar', 'Aljabar Linier Elementer', 'Aljabar Abstrak', 'Algoritma Pemrograman']
            },
            computed: {
                filteredItems: function () {
                    return this.items.filter(item =>
                        item.toLowerCase().indexOf(this.title.toLowerCase()) !== -1
                    )
                }
            }
        })

    </script>
</body>

</html>